[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
rope = "*"
ipdb = "*"

[requires]
python_version = "3.6"
